@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;800&display=swap');

:root {
  --banana-yellow: #FCE029;
  --raisin-black: #231F20;
  --off-white: #F3F4F6;
}

body {
  margin: 0;
  font-family: 'Bitter', sans-serif;
  background-image: url(/img/minions.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

/* nav */

.navigation {
  background-color: var(--banana-yellow);
  color: var(--raisin-black);
  font-size: large;
  padding: 0.1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  opacity: 85%;
}

.navigation h1 {
  font-weight: 900;
}

.navigation a {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2.75rem;
  color: var(--raisin-black);
}

/* container */

.container {
  max-width: 100%;
  width: 600px;
  margin: auto;
  text-align: center;
  opacity: 90%;
}

/* input textarea, button and output div */

.container .text-box {
  display: block;
  height: 10vh;
  max-width: 80%;
  width: 500px;
  margin: auto;
  padding: 1rem;
  border: 2px solid var(--raisin-black);
  border-radius: 0.5rem;
  font-family: 'Bitter', sans-serif;
  font-size: 1.1rem;
  background-color: var(--off-white);
}

.container #btn-translate {
  background-color: var(--banana-yellow);
  color: var(--raisin-black);
  border: 2px solid var(--raisin-black);
  font-family: 'Bitter', sans-serif;
  font-weight: bold;
  font-size: medium;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1.5rem auto;
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  padding: 1rem 0.5rem;
  background-color: var(--banana-yellow);
  text-align: center;
  opacity: 85%;
}

footer #about {
  font-size: larger;
  font-weight: 800;
}

footer p {
  max-width: 100%;
  width: 500px;
  margin: auto;
  padding: 1rem 0 0;
  line-height: 1.5em;
}